/* Estilos del pie de página */
footer {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: #8A8A8A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  /* Estilos de los enlaces a la izquierda y a la derecha */
  .leftFooter ul{
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
  }

  .right ul {
    list-style: none;
    margin-right: 40px;
    margin-top: 10px;
    text-align: center;
  }
  
  .leftFooter ul li,
  .right ul li {
    margin-bottom: 5px;
  }
  
  .leftFooter ul li,
  .right ul li {
    color: white;
    text-decoration: none;
  }
  
  /* Estilos de los iconos de redes sociales en el centro */
  .center .social-icons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .center .social-icons li {
    margin-right: 20px;
  }
  
  .center .social-icons li:last-child {
    margin-right: 0;
  }
  
  .center .social-icons{
    color: white;
    text-decoration: none;
  }
  
  /* Estilos de los iconos de redes sociales (usando Font Awesome) */
  .center .social-icons i {
    font-size: 20px;
  }
  
  